* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
border: 1px solid #000;
}

.logo {
  border: 1px solid rgb(247, 8, 8);
  scale: .9;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 0 5vw 0 3em;
  width: 100vw;
  align-items: center;
  background: #fff;
  z-index: 2;
}

.title-icon {
  display: flex;
  flex: 1 0 0px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  
}

h2 {
  justify-content: flex-start;
}

.btn-order {
  padding: 1em;
  color: #fff;
  background-color: #000;
  font-weight: 800;
  border-radius: 1em;
}

.overlay { 
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}

.hero {
  background-image: url("./Pictures/Dans Site Files/peter-wendt--r5KSMkyoSc-unsplash.jpg");
  text-align: center;
  justify-content: center;
  padding: 60px;
  height: 50vh;
  width: 100%;
}



.caption {
  color: #fff;
  z-index: 1;
  font-size: 3em;
}

.caption-subtext {
  color: #fff;
  z-index: 1;
  padding: 1em;
}


.btn-primary {
  padding: 15px;
  background-color: #F2CC8F;
  border-radius: 8px;
}

.offerings-container {
  height: 20vh;
  background-color: #fff;
  z-index: 1;
}

.footer {
  height: 20vh;
  background-color: #F2CC8F;
}